<!--メイン画面のコードを記入-->
<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title><!--後から変更-->
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <!--ここにコードを書く-->
    <!--firebase用コード-->
<script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDWFYBPPITx75_fxEsY_wNdPiIdhWEyY2A",
    authDomain: "design-post.firebaseapp.com",
    databaseURL: "https://design-post.firebaseio.com",
    projectId: "design-post",
    storageBucket: "design-post.appspot.com",
    messagingSenderId: "668360468372"
  };
  firebase.initializeApp(config);
</script>
</body>
</html>