/*
stylusファイル
ここにCSSを書く
書き方は通常のCSS通りで{}は省略しない
ただし；は省略可能
CSSへ出力する際はコマンドラインでstylus -w すると変更が監視できる

aiue = black
.sample{
    color:aiue
}

変数を使用する場合は必ず使用する箇所の前で宣言
適宜リファクタリング（コード整理）し、使用しないクラスやIDを量産しないこと
また、クラスを一まとめにし、コメントをつける
（例：レイアウト・ボタン・飾り・ナビゲーションなど）
*/

/*----以下にコードを書く----*/